// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.answer, .question {
  border-left: 5px grey solid;
  width: 250px;
}

p {
  margin: 16px;
}

.answer {
  background-color: rgba(0, 128, 0, 0.553);
}

a {
  text-decoration: none;
}
